/****************************************************************************


BCM3UPS.RC

produced by Borland Resource Workshop


*****************************************************************************/
#include "BCM3UPS.RH"
#include "c:\wsrc32\rsc\trw.rh"

RCINCLUDE "c:\wsrc32\rsc\trw.rc"

main_frm DIALOG 0, 0, 526, 350
EXSTYLE WS_EX_TOPMOST | WS_EX_CONTEXTHELP
STYLE DS_3DLOOK | DS_CENTER | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "3 Ups Tester"
FONT 8, "MS Sans Serif"
{
 CONTROL "DUT 3", IDC_DUT3, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 292, 7, 132, 254
 CONTROL "test 3", 1051, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 22, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1052, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 40, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1053, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 58, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1054, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 76, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1055, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 94, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1056, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 112, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1057, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 130, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1058, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 148, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1059, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 166, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1060, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 304, 184, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "DUT 2", IDC_DUT2, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 152, 7, 132, 254
 CONTROL "test 2", 1031, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 22, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1032, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 40, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1033, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 58, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1034, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 76, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1035, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 94, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1036, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 112, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1037, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 130, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1038, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 148, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1039, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 166, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1040, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 164, 184, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "DUT 1", IDC_DUT1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 8, 132, 252
 CONTROL "test 1", 1011, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 23, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1012, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 41, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1013, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 59, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1014, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 77, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1015, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 95, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1016, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 113, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1017, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 131, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1018, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 149, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1019, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 167, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Frame1", 1020, "static", SS_CENTER | WS_CHILD | WS_VISIBLE, 20, 185, 108, 16, WS_EX_DLGMODALFRAME
 CONTROL "Edit1", 1021, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 203, 108, 16
 CONTROL "Edit2", 1041, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 202, 108, 16
 CONTROL "Edit3", 1071, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 304, 203, 108, 16
 CONTROL "StatusWindow1", IDC_STATUSBAR, "msctls_statusbar32", CCS_TOP | CCS_NOMOVEY | WS_CHILD | WS_VISIBLE, 0, 338, 525, 12
 CONTROL BITMAP_TRW, 1003, "static", SS_BITMAP | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 432, 0, 95, 60
 CONTROL "", 1004, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 432, 73, 92, 56
 CONTROL "Edit4", 1005, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 436, 88, 80, 12
 CONTROL "Customer Part Number", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 436, 79, 72, 9
 CONTROL "TRW Part Number", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 436, 104, 72, 9
 CONTROL "Edit5", 1006, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 436, 112, 80, 12
 CONTROL "Pass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 224, 24, 9
 CONTROL "Edit6", 1022, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 220, 40, 16
 CONTROL "Fail", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 244, 24, 9
 CONTROL "Edit7", 1023, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 240, 40, 16
 CONTROL "Pass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 176, 224, 24, 9
 CONTROL "Edit10", 1042, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 200, 220, 40, 16
 CONTROL "Fail", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 176, 244, 24, 9
 CONTROL "Edit11", 1043, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 200, 240, 40, 16
 CONTROL "Edit14", 1062, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 348, 220, 40, 16
 CONTROL "Edit15", 1063, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 348, 240, 40, 16
 CONTROL "Totals", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 432, 146, 88, 116
 CONTROL "Pass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 440, 160, 24, 9
 CONTROL "Fail", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 440, 192, 24, 9
 CONTROL "Pass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 316, 224, 24, 9
 CONTROL "Fail", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 316, 240, 24, 9
 CONTROL "Edit16", 1007, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 172, 56, 15
 CONTROL "Edit17", 1009, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 236, 56, 15
 CONTROL "Percent Rejected", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 440, 228, 60, 9
 CONTROL "Edit18", 1008, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 204, 56, 15
 CONTROL "ABORT", IDC_ABORT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 436, 289, 72, 34
}

IDD_DIALOG1 DIALOG 0, 0, 500, 300
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 276, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 344, 276, 50, 14
 CONTROL "Help", IDHELP, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 432, 276, 50, 14
 CONTROL "", 2001, "button", BS_RADIOBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON1, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 65, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON2, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON3, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 83, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON4, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON5, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON6, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 32, 8, 9
 CONTROL "", IDC_RADIOBUTTON7, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 119, 32, 8, 9
}

