
#include "BM_BITMAPS.rh"

IDI_SMALL               ICON    DISCARDABLE     "ICON1.ICO"
IDI_LARGE               ICON    DISCARDABLE     "ICON2.ICO"
IDB_BKGND               BITMAP  DISCARDABLE     "BM_BKGND.BMP"
IDB_SAUCER              BITMAP  DISCARDABLE     "SAUCER.BMP"
IDB_SAUCER_MASK         BITMAP  DISCARDABLE     "SAUCER_MASK.BMP"
